.table-container {
  padding-top: 10px;
}

th {
  font-weight: normal;
  font-size: 12px;
  color: #cccccc;
}

.td-center {
  text-align: center;
}

thead th {
  border-bottom: 1px solid #cccccc;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
}

.w1 {
  width: 70%;
}

.w2 {
  width: 10%;
  text-align: center;
}

.f1,
.f2 {
  font-size: 12px;
}

.f2 {
  font-weight: bold;
}
